In [1]:
print("hello")

hello

In [9]:
#data types
#integer
#float
#string
#boolean
#none

In [10]:
x =12

In [11]:
print(x)
print(type(x))

12
<class 'int'>

In [13]:
y = "vaibhav"

In [14]:
print(y)
print(type(y))

vaibhav
<class 'str'>

In [4]:
#input function

name = input()

 vaibhav

In [5]:
print(name)

vaibhav

In [ ]:
#number as input

In [6]:
x =input()

 12

In [7]:
print(x)

12

In [8]:
print(type(x))

<class 'str'>

In [15]:
#type conversion

In [16]:
x = 12

In [17]:
y = float(x)

In [19]:
print(y)
print(type(y))
print(type(x))

12.0
<class 'float'>
<class 'int'>

In [20]:
c = float("1.5")

In [21]:
type(c)

float

In [22]:
int(c)

1

In [23]:
#printing multiple values using print function

In [24]:
print("RahuLl")

RahuLl

In [25]:
print("rahul","vaibhav","Nirmal")

rahul vaibhav Nirmal

In [26]:
print("rahul","vaibhav","Nirmal", 12,123,24,123,1,312,131,313,123,31)

rahul vaibhav Nirmal 12 123 24 123 1 312 131 313 123 31

In [27]:
print("rahul","vaibhav","Nirmal", 12,12,312,131,313,123,31)

rahul vaibhav Nirmal 12 12 312 131 313 123 31

In [29]:
#there is by default \n at end of print statement

In [31]:
 #example
print("vaibhav",21)
print("rahul",23)

vaibhav 21
rahul 23

In [32]:
print("vaibhav",21, sep="->")

vaibhav->21

In [33]:
print("rahul","vaibhav","Nirmal", 12,12,312,131,313,123,31,sep="->")

rahul->vaibhav->Nirmal->12->12->312->131->313->123->31

In [34]:
print("rahul","vaibhav","Nirmal", 12,12,312,131,313,123,31,sep="\n")

rahul
vaibhav
Nirmal
12
12
312
131
313
123
31

In [35]:
print("rahul","vaibhav","Nirmal", 12,12,312,131,313,123,31,sep=",")

rahul,vaibhav,Nirmal,12,12,312,131,313,123,31

In [36]:
#end operator

print("vaibhav",21,end=" ")
print("rahul",23)

vaibhav 21 rahul 23

In [38]:
print("vaibhav",21,sep="\n",end="->")
print("rahul",23)

vaibhav
21->rahul 23

In [39]:
c = print()

In [40]:
print(type(c))

<class 'NoneType'>

In [42]:
#   X + Y , here x, y are operand and + is operator 
#and this whole is known as expression

In [92]:
#Arithmatic operator
#  +, -, *, /, %
#Addition +
#subtraction -
#division /         it always gives float values
#mod %
#multiplication *

In [49]:
a = 5
b = 7

print("Addition = ",(a+b))
print("suntraction = ",(a-b))
print("Division = ",(a/b))
print("multiplication = ",(a*b))

Addition =  12
suntraction =  -2
Division =  0.7142857142857143
multiplication =  35

In [50]:
a+b

12

In [51]:
a-b

-2

In [52]:
a/b

0.7142857142857143

In [53]:
a*b

35

In [55]:
1.5  +  2.512

4.0120000000000005

In [56]:
12 * 12

144

In [57]:
121/5

24.2

In [59]:
first = "Vaibhav"
last = " Narsinge"
 
# string concatenation

print(first + last)

Vaibhav Narsinge

In [64]:
a  =  print("1" + "1")

print(type(a))

11
<class 'NoneType'>

In [63]:
type("1")

str

In [65]:
first * 3

'VaibhavVaibhavVaibhav'

In [66]:
last*3

' Narsinge Narsinge Narsinge'

In [68]:
#cant't multiply string X string

#first*first

In [84]:
a = 13
b = 3
print(a,b)

13 3

In [85]:
print(a % b) #it return remainder

1

In [86]:
print(a / b) #it returns result of division

4.333333333333333

In [87]:
# // in flooor division
print(a//b)   #it not print numbers after decimal

4

In [89]:
print(a**b) # here b will be power and a is base

2197

In [91]:
#comparison operator
#<, > , <=, >=, == , !=

In [93]:
a = 6
b = 3

In [95]:
print(a == b)

False

In [96]:
print(a != b)

True

In [97]:
print(a < b)

False

In [98]:
print(a > b)

True

In [99]:
#assignment operators
#  =, -=, +=,/=,  *=

In [100]:
a = 5

In [101]:
a = a +5
print(a)

10

In [104]:
a = 5
a += 5
print(a)

10

In [105]:
a -= 3
print(a)

7

In [106]:
a *= 2
print(a)

14

In [107]:
a /= 2
print(a)

7.0

In [108]:
#logical operators
# and  , or, not

In [113]:
a = True
b = False
print(a and b)
print(a or b)

False
True

In [115]:
a = 3
b = 4
print(a and b)
print(a or b)

4
3

In [116]:
not True

False

In [117]:
not False

True

In [118]:
True or False

True

In [119]:
#Special operators

#  in operator
#  is operator

In [121]:
name = "vaibhav Narsinge"

In [122]:
"v" in name

True

In [123]:
"vaibhav" in name

True

In [124]:
"rahul" in name

False

In [125]:
#is
a = 5
b = 5
print(id(a), id(b))

140731850593192 140731850593192

In [126]:
a is b

True

In [128]:
a = 132
b = 46
print(id(a), id(b))
a is b

140731850597256 140731850594504

False

In [130]:
#Conditions 
#if, else
#nested if else

In [140]:
age = int(input())

if(age < 18):
    print("You are not eligible")
    print("Drive slow")
elif 18 > age < 40:
    print("Not eligible")
    print("Drive midslow")
elif(age > 40):
    print("Drive slow")

 445

Drive slow

In [4]:
#if , else
age = int(input())

if age > 18:
    if age >= 65:
        print("Take care..bye...")
    else:
        print("You are eligible...")
        print("Drive fast...")
else:
    print("Wait... till you 18+")

 12

Wait... till you 18+

In [8]:
#if, elif,else

n = int(input())
if n > 0:
    print("+ve")
elif n==0:
    print("Zero")
else:
    print("-ve")

 0

Zero

In [12]:
# find max of list
marks = [90,56,67,87,67,98,45]

high = marks[0]
#iterate
for i in marks:
    #check the condition
    if i > high:
        high = i;
print("Topper = ",high)

Topper =  98

In [14]:
# using max, min function
print(max(marks))
print(min(marks))

98
45

In [ ]:
#grading student

mark = int(input())

if mark >=90 and mark<=100:
    print("A grade")
elif mark>=70 and mark<=80:
    print("Grade B")
elif mark<60:
    print("pass")

In [ ]:
#loops

In [2]:
#while loop
#initialise
#loop conditon
#updating value

i = 1;
while i <= 6:
    print("I am the best")
    i+=1

I am the best
I am the best
I am the best
I am the best
I am the best
I am the best

In [1]:
i = 1
while i<=10:
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [3]:
i=0
while i<=10:
    if i%2 == 0:
        print(i,end=" ")
    i+=1

0 2 4 6 8 10

In [ ]:
print("hello")

In [2]:
i=1
sum=0
while i<=10:
    sum = sum+i
    i+=1
print("SUM = ",sum)

SUM =  55

In [ ]:
print("Heloo")

In [5]:
#range function
#it has three parameters star,end,jump
#start is by default 0 and jump is 1

In [6]:
list(range(5))

[0, 1, 2, 3, 4]

In [9]:
#jump is 1 by default and star is 1 given
list(range(1,5))

[1, 2, 3, 4]

In [11]:
list(range(2,10,2))

[2, 4, 6, 8]

In [12]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [13]:
list(range(-1,10))

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
#iterator, interable and interation
#for loop

In [18]:
# i : interator
# range() : interable
for i in range(1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [21]:
#multiplication table
n = int(input("Enter number"))
for i in range(1,11):
    print(i*n)

4
8
12
16
20
24
28
32
36
40

In [24]:
#patterns

# # # #
# # # #
# # # # 
# # # #
for i in range(4):
    print("#",end=" ")
print()
for i in range(4):
    print("#",end=" ")
print()
for i in range(4):
    print("#",end=" ")
print()
for i in range(4):
    print("#",end=" ")
print()

# # # #
# # # #
# # # #
# # # #

In [27]:
for i in range(5):
    for i in range(5):
        print("#",end=" ")
    print()

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [33]:
n = int(input("Enter number"))
for i in range(1,n+1):
    for j in range(i):
        print("#",end =" ")
    print()   #new line

#
# #
# # #
# # # #

In [36]:
# break continue pass statements
# break : breaks the flow of programm
# continue : it skipp that particular section
# pass : to avoid the syntax error

In [39]:
#pass
for i in range(1,10):
    pass

In [44]:
#continue
for i in range(1,10):
    if i == 5:
        continue # here it skipp the 5 
    print(i,end =" ")

1 2 3 4 6 7 8 9

In [46]:
#break
for i in range(1,10):
    if i==5:
        break # when i is 5 it break/stop execution of the programm
    print(i,end=" ")

1 2 3 4

In [50]:
#break using while
i = 1
while i<10:
    if i == 5:
        break
    print(i,end=" ")
    i+=1

1 2 3 4

In [55]:
#String 
""" A string is sequence of character
    can be a group of :
    alphabets
    digit
    whitespaces
    special character

    can be define in ' ' , " " , """ """ this is for multiline string

    """

' A string is sequence of character\n    can be a group of :\n    alphabets\n    digit\n    whitespaces\n    special character\n\n    can be define in \' \' , " " ,  this is for multiline string\n\n    '

In [52]:
"Vaibhav" == "Vaibhav"

True

In [54]:
"Vaibhav" == "vaibhav" #case sensitive

False

In [58]:
a = "97"
print(a)
print(type(a))

97
<class 'str'>

In [60]:
s1 = 'Vaibhav'
s2 = "Vaibhav"
s3 = """vaibhav
    narsinge"""

print(s1)
print(s1)
print(s3)

Vaibhav
Vaibhav
vaibhav
    narsinge

In [61]:
#ORD and CHR functions

In [66]:
ord("a") # gives ASCII value

97

In [65]:
ord("9")

57

In [67]:
ord("A")

65

In [69]:
#chr function 
chr(97)

'a'

In [70]:
chr(12122)

'⽚'

In [71]:
chr(128512)

'😀'

In [72]:
chr(128513)

'😁'

In [80]:
#indexing in string // slicing of string
name = "vaibhav narsinge"
print(name[0])
print(name[1:5])
print(name[0:8])
print(name[::-1])
print(name[-1])
print(name[::1])

v
aibh
vaibhav
egnisran vahbiav
e
vaibhav narsinge

In [82]:
#len function
len("Vaibhav")

7

In [90]:
# slicing take start end and jump input
name = "vaibhav narsinge"
print(name[::2])
print(name[:])
print(name[-1:0:-1])

vihvnrig
vaibhav narsinge
egnisran vahbia

In [92]:
#String methods
# capitalize, title, upper, lower,find,count,index,replace,split
#isupper,islower,isnumeric,isalpha........

In [93]:
name = "Vaibhav Narsinge"

In [95]:
name.capitalize()

'Vaibhav narsinge'

In [96]:
name.upper()

'VAIBHAV NARSINGE'

In [97]:
name.lower()

'vaibhav narsinge'

In [102]:
name.find("a")

1

In [104]:
name.find("a")

1

In [105]:
name.isupper() #checking alphabet are uppercase

False

In [106]:
name.isupper()

False

In [107]:
name.isalpha()

False

In [108]:
name.split()

['Vaibhav', 'Narsinge']

In [110]:
name.replace("Vaibhav","Balu")

'Balu Narsinge'

In [111]:
n = "va sk ww ewkn  ca a laa adla al ail aj aln"
n.split()

['va', 'sk', 'wwewkn', 'ca', 'a', 'laa', 'adla', 'al', 'ail', 'aj', 'aln']

In [116]:
print("2".isnumeric())

True

In [117]:
"vaibhav".islower()

True

In [118]:
#String formatting

In [120]:
name = input()
age = input()
print("My name is ",name," and my age is ",age)

My name is  vaibhav  and my age is  23

In [122]:
name = input()
age = input()
print("Hey my name is {}. and my age is {}".format(name,age))

Hey my name is vaibhav. and my age is 23

In [124]:
name = "Vaibhav"
age = 23
print(f"My name is {name}. and my age is {age}.")

My name is Vaibhav. and my age is 23.

In [125]:
#string concatinaton
first = input()
last = input()
print(first+last)

vaibhavnarsinge

In [127]:
first = "vaibhav"
last = " Narsinge"
print(first+last)

vaibhav Narsinge

In [128]:
print("2" + "vbn")

2vbn

In [133]:
# print vowels

text = "the fix jumpes over the lazy dog"
# print a, e, i, o, u from string

for i in text:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        print(i , end = " ")

e i u e o e e a o

In [135]:
#find string is palindrome or not

# eg... racecar, radar

s = input()

ss = s[::-1]
if s == ss:
    print("Palindrome")
else:
    print("Not palindrome")

Not palindrome

In [136]:
#Data structures 
#list
#tuple
#disctionary
#set

In [137]:
l = list()
print(type(l))

<class 'list'>

In [143]:
l = [12,43,65,76,45,78,65,98,78]
print(l1)

[1, 23, 3, 45, 4, 456, 43, 5, 4, 3534]

In [144]:
l[3]

76

In [145]:
l

[12, 43, 65, 76, 45, 78, 65, 98, 78]

In [146]:
l[-len(l)]

12

In [147]:
l[-1]

78

In [148]:
l

[12, 43, 65, 76, 45, 78, 65, 98, 78]

In [150]:
id(l) #address of list

2658950519040

In [153]:
#changin list items
l[0] = 999

In [154]:
l

[999, 43, 65, 76, 45, 78, 65, 98, 78]

In [156]:
id(l) #change is happened on same location

2658950519040

In [157]:
l

[999, 43, 65, 76, 45, 78, 65, 98, 78]

In [159]:
for i in l:
    print(i, end=" ")

999 43 65 76 45 78 65 98 78

In [160]:
#list slicing

In [163]:

print(l)
print(len(l))

[999, 43, 65, 76, 45, 78, 65, 98, 78]
9

In [164]:
l[0:2]

[999, 43]

In [165]:
l[0:3]

[999, 43, 65]

In [166]:
l[::]

[999, 43, 65, 76, 45, 78, 65, 98, 78]

In [167]:
l[::-1]

[78, 98, 65, 78, 45, 76, 65, 43, 999]

In [170]:
l = [1,2,3,4,5,6,7,8,9]
print(l[::-2])  # negative jump of -2
print(l[::2])   #positive jump of 2

[9, 7, 5, 3, 1]
[1, 3, 5, 7, 9]

In [172]:
#list inbuilt methods
#count, remove,sort, insert, append, extend,count
budget = [150,200,340,589,450,200]

In [173]:
budget.count(200) # it return total number of 200 in list

2

In [174]:
budget.count(1212) # 1212 not present in list

0

In [177]:
budget.index(200) # it return first matching index

1

In [195]:
name = ["rahul", "manoj", "shivam", "vaibhav"]

In [182]:
budget.pop()# it remove first item in list

450

In [183]:
budget

[150, 200, 340, 589]

In [184]:
budget.append(200)

In [185]:
budget.append(450) # added element in list at last index

In [186]:
budget

[150, 200, 340, 589, 200, 450]

In [196]:
name

['rahul', 'manoj', 'shivam', 'vaibhav']

In [197]:
name.remove("shivam")# using remove can remove particular element in list

In [198]:
name #

['rahul', 'manoj', 'vaibhav']

In [199]:
budget

[150, 200, 340, 589, 200, 450]

In [200]:
budget.sort() # sort in assscending order

In [201]:
budget

[150, 200, 200, 340, 450, 589]

In [202]:
name

['rahul', 'manoj', 'vaibhav']

In [203]:
name.insert(1,"Emma")

In [204]:
name

['rahul', 'Emma', 'manoj', 'vaibhav']

In [210]:
l = [1,2,3,4,5]
l1 = [12,23,43,45,65]
l.append(l1)
print(l)   # here append whole list in list

[1, 2, 3, 4, 5, [12, 23, 43, 45, 65]]

In [211]:
l = [1,2,3,4,5]
l1 = [12,23,43,45,65]
l.extend(l1)
print(l)

[1, 2, 3, 4, 5, 12, 23, 43, 45, 65]

In [213]:
#heterogenous list : contents different type of data

In [215]:
l = [2,"vaib", 3,2.3,True]
print(l)

[2, 'vaib', 3, 2.3, True]

In [219]:
# 2-D list
l = [1,2,3]
l1 = [4,5,6]
l2 = [7,8,9]

ll = [l,l1,l2] # lists in list
print(ll)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [220]:
ll[2]

[7, 8, 9]

In [221]:
ll[1]

[4, 5, 6]

In [222]:
ll[0]

[1, 2, 3]

In [223]:
ll[0:1]

[[1, 2, 3]]

In [224]:
ll[0:2]

[[1, 2, 3], [4, 5, 6]]

In [225]:
ll

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [226]:
ll[0][0]

1

In [227]:
ll[1][0]

4

In [229]:
#interation on 2-D list
ll

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [231]:
for i in ll:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [235]:
for i in ll:
    for j in i:
        print(j,end=" ")

1 2 3 4 5 6 7 8 9

In [237]:
#list comprehension
for i in range(1,10):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [240]:
l = []
for i in range(1,11) :
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [242]:
# by using list comprehension
l1 = [i for i in range(1,11)]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [244]:
l2 = [(i**2) for i in range(1,11)]
l2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [251]:
"""given list of population  find total population
l = [4,6,5,8,9,3,2,4,5,4,3,2,3,4]"""

l = [4,6,5,8,9,3,2,4,5,4,3,2,3,4]
#access all elements in list
#sum them up
sum = 0
for i in l:
    sum = sum + l[i]
print(f"Total population = {sum}")

Total population = 87

In [252]:
#Tuples
""" like list are also ordered
unchangable
iterable"""

' like list are also ordered\nunchangable\niterable'

In [253]:
t = ("mercury", "venus", 'earth', "Mars", "Jupiter", "neptune")
t

('mercury', 'venus', 'earth', 'Mars', 'Jupiter', 'neptune')

In [254]:
t[0]

'mercury'

In [255]:
t[-1]

'neptune'

In [256]:
t[::-1]

('neptune', 'Jupiter', 'Mars', 'earth', 'venus', 'mercury')

In [257]:
t[1:3]

('venus', 'earth')

In [258]:
t = ("rahul", 12,234.3, True) #heterogenous
t

('rahul', 12, 234.3, True)

In [263]:
#empy tuple
t = ()
t1 = tuple()
t
t1
print(type(t))

<class 'tuple'>

In [266]:
#non empty tuple
tt = (2)
t = (2,)
print(type(tt))
print(type(t))

<class 'int'>
<class 'tuple'>

In [264]:
t = (12,3,2,1)
print(type(t))

<class 'tuple'>

In [267]:
t5 = tuple("Vaibhav")
t5

('V', 'a', 'i', 'b', 'h', 'a', 'v')

In [269]:
#tuple can have list
t6 = ([2,3,32,2,2],[23,23,43,2,3,23])
t6
print(type(t6))

<class 'tuple'>

In [270]:
#mutability
t = (1,2,4,5,3)
t

(1, 2, 4, 5, 3)

In [275]:
t = ([21,3,3,2,2],"Vaibhav") # tuple are immutable but list are mutable
print(type(t))
print(type(t[0]))
print(type(t[1]))
t[0][0] = 999 # can change value of list in tuple
print(t)

<class 'tuple'>
<class 'list'>
<class 'str'>
([999, 3, 3, 2, 2], 'Vaibhav')

In [276]:
#unpacking tuple
a = 1
b = 2
c = 4
print(a,b,c)

1 2 4

In [277]:
a,b,c = 1,2,4
print(a,b,c)

1 2 4

In [281]:
tu = (1,2,4)

In [282]:
a,b,c = tu  # this is unpacking
print(a,b,c)

1 2 4

In [289]:
#tuple operations
t = (1,2,3,4,1,2,1,1)
print(type(t))
print(t.count(1))
print(t.index(2))
print(len(t))

<class 'tuple'>
4
1
8

In [292]:
for i in t:
    print(i**2,end=" ")

1 4 9 16 1 4 1 1

In [297]:
#Concatanetion (+, *)
t = (1,2,3,4,5)
t1 = (9,8)
t3 = t + t1
print(t3)
print(t*2)

(1, 2, 3, 4, 5, 9, 8)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [301]:
# list to tuple and tuple to list

lst = list(t)
print(lst)
print(type(lst))

[1, 2, 3, 4, 5]
<class 'list'>

In [302]:
tpl = tuple(lst)
print(tpl)
print(type(tpl))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [303]:
#dictionary 
""" has key value pair data
  dictionary are ordered data
  does not support indexing"""

' has key value pair data\n  dictionary are ordered data\n  does not support indexing'

In [306]:
d ={}
print(type(d))
print(d)

<class 'dict'>
{}

In [307]:
fruits = {
    "Apple" : 120, 
    "banana" : 100,
    "mango" : 400
}

In [308]:
print(fruits)

{'Apple': 120, 'banana': 100, 'mango': 400}

In [309]:
for i in fruits:
    print(i)

Apple
banana
mango

In [310]:
for i in fruits:
    print(fruits[i])

120
100
400

In [313]:
#dictionary from two lists
name = ["appple", "bananaa", "mangoo"]
price = [120,134,500]
fruit = dict(zip(name,price))
print(fruit)
print(len(fruit))

{'appple': 120, 'bananaa': 134, 'mangoo': 500}
3

In [314]:
#accesing elements
fruit

{'appple': 120, 'bananaa': 134, 'mangoo': 500}

In [315]:
fruit["appple"]

120

In [316]:
fruit.get("bananaa")

134

In [318]:
fruit.get("peru", "not available") # if element not present in
#dicitonary it return given statement

'not available'

In [319]:
fruit

{'appple': 120, 'bananaa': 134, 'mangoo': 500}

In [320]:
fruit["bananaa"] = {"small" : 90, "large" : 1220}

In [321]:
fruit

{'appple': 120, 'bananaa': {'small': 90, 'large': 1220}, 'mangoo': 500}

In [322]:
fruit["guava"] = 300 #added ne key pair

In [323]:
fruit

{'appple': 120,
 'bananaa': {'small': 90, 'large': 1220},
 'mangoo': 500,
 'guava': 300}

In [324]:
new = {"grapes" : 190, "orange" : 453, "jamun" : 400}

In [325]:
fruit

{'appple': 120,
 'bananaa': {'small': 90, 'large': 1220},
 'mangoo': 500,
 'guava': 300}

In [326]:
fruit.update(new) # adds multiple key-value pairs in dictionary

In [327]:
fruit

{'appple': 120,
 'bananaa': {'small': 90, 'large': 1220},
 'mangoo': 500,
 'guava': 300,
 'grapes': 190,
 'orange': 453,
 'jamun': 400}

In [328]:
#deletion in dictionary
fruit

{'appple': 120,
 'bananaa': {'small': 90, 'large': 1220},
 'mangoo': 500,
 'guava': 300,
 'grapes': 190,
 'orange': 453,
 'jamun': 400}

In [329]:
"appple" in fruit

True

In [330]:
fruits

{'Apple': 120, 'banana': 100, 'mango': 400}

In [331]:
fruits.pop("Apple") # Apple removed from list

120

In [332]:
fruits

{'banana': 100, 'mango': 400}

In [333]:
fruits.popitem()#deletes last item

('mango', 400)

In [338]:
fruits = {'Apple': 120, 'banana': 100, 'mango': 400}

In [339]:
del fruits # whole fruits dicitonary deleted

In [340]:
#interaion dicctionary

In [341]:
fruits = {'Apple': 120, 'banana': 100, 'mango': 400}

In [343]:
for i in fruits:
    print(i)

Apple
banana
mango

In [344]:
for i,j in fruits.items():
    print(i,j)

Apple 120
banana 100
mango 400

In [345]:
fruits.keys()

dict_keys(['Apple', 'banana', 'mango'])

In [346]:
fruits.values()

dict_values([120, 100, 400])

In [347]:
fruits.items()

dict_items([('Apple', 120), ('banana', 100), ('mango', 400)])

In [350]:
#Frequency of character 
#ex. "vaibhav narsinge"
name = input()

In [352]:
print(name)

vaibhav narsinge

In [354]:
for i in name:
    print(i)

v
a
i
b
h
a
v

n
a
r
s
i
n
g
e

In [355]:
fre = {}
for i in name:
    if i not in fre:  #check presence
        fre[i] = 1 
    else:               # if present then increment by 1
        fre[i] += 1
print(fre)

{'v': 2, 'a': 3, 'i': 2, 'b': 1, 'h': 1, ' ': 1, 'n': 2, 'r': 1, 's': 1, 'g': 1, 'e': 1}

In [1]:
#Set
"""unique collection
    unorderred
    unindexed
    mutable"""

'unique collection\n    unorderred\n    unindexed\n    mutable'

In [5]:
lst = [1,2,3,4,2,3,1,4,5,6,54,6,4]
st =  {1,2,3,5,4,2,5,3,2,4,2,5,2}
print(lst)
print(st) # set removes duplicate elements
st1 = set(lst)  # list to set conversion
print(st1)

[1, 2, 3, 4, 2, 3, 1, 4, 5, 6, 54, 6, 4]
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 54}

In [6]:
st

{1, 2, 3, 4, 5}

In [8]:
for i in st:
    print(i, end =" ")

1 2 3 4 5

In [10]:
s = set("vaibhav")
print(s)  # set stores unorder values

{'i', 'v', 'h', 'a', 'b'}

In [11]:
#uppdate and deleting values in set
s = {1,2,3,4,5,6,7,3,4,5,6}

In [13]:
s.add(99)
print(s)

{1, 2, 3, 4, 5, 6, 7, 99}

In [14]:
s

{1, 2, 3, 4, 5, 6, 7, 99}

In [17]:
name = "vaibhav"
s.update(name)

In [16]:
s

{1, 2, 3, 4, 5, 6, 7, 99, 'V', 'a', 'b', 'h', 'i', 'v'}

In [18]:
s.pop() #it randomaly remove elements

1

In [19]:
s

{2, 3, 4, 5, 6, 7, 99, 'V', 'a', 'b', 'h', 'i', 'v'}

In [20]:
#for removing particular value
s.remove(2)

In [21]:
s

{3, 4, 5, 6, 7, 99, 'V', 'a', 'b', 'h', 'i', 'v'}

In [24]:
#intersection
s1 = {1,3,4,5,6,4,3}
s2 = {45,56,3,1,2,44,45,23,2,3,4}
a = s1.intersection(s2) # gives common elements from both set
print(a)

{1, 3, 4}

In [26]:
#union
s1 = {1,3,4,5,6,4,3}
s2 = {45,56,3,1,2,44,45,23,2,3,4}
a = s1.union(s2)# it combine all unique elements from oth set
print(a)

{1, 2, 3, 4, 5, 6, 44, 45, 23, 56}

In [30]:
#difference
s1 = {1,3,4,5,6,4,3}
s2 = {45,56,3,1,2,44,45,23,2,3,4}
#it will not include elements common in both
a = s1.difference(s2) # it return element which present only in s1 not in s2
b = s2.difference(s1) # it return element which not in s1 but in s2
print(a)
print(b)

{5, 6}
{2, 44, 45, 23, 56}

In [34]:

sent = "be the change you in wish to see the in the world"
lst = sent.split()
s = set(lst)
print(s)
print(len(s))

{'change', 'wish', 'you', 'see', 'world', 'to', 'the', 'be', 'in'}
9

In [37]:
#function
""" 
Functoion is a user defined piece of code. 
it works only when it called by user. it helps 
in reusability of code and helpd reducing errors

"""

"""
    Helps in reusability of code
    Make code managable and organized
    
    functions are of two types
    1. User defined
    2. Built in
    
"""

'Helps in reusability of code\n    Make code managable and organized\n    \n    functions are of two types\n    1. User defined\n    2. Built in\n    \n'

In [39]:
"""
Syntax: 
            def functionName(___):
                __________________
                _________________
"""

'\nSyntax: \n            def functionName(___):\n                __________________\n                _________________\n'

In [42]:
#defining function
def greet():
    # this is body of function
    print("Hey.:) good morning")

print(greet())
print(type(greet))

Hey.:) good morning
None
<class 'function'>